!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.launch
*.sublime-workspace
.c9/
.classpath
.DS_Store
.history/*
.idea/
.project
.sass-cache/
.settings/
.vscode/*
/.angular/cache
/bazel-out
/client
/connect.lock
/coverage
/dist
/libpeerconnection.log
/node_modules
/out-tsc
/tmp
/typings
npm-debug.log
testem.log
Thumbs.db
yarn-error.log